<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8" />
        <title>{% block title %}WebLoja{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/webloja/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/webloja/css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/webloja/css/theme.blue.css') }}">
        <link class="ui-theme" rel="stylesheet" href="{{ asset('bundles/webloja/css/theme.jui.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/webloja/css/style.css') }}">
        {% endblock %} 

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/webloja/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/webloja/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/webloja/js/jquery.tablesorter.js') }}"></script>
        <script src="{{ asset('bundles/webloja/js/jquery.tablesorter.widgets.js') }}"></script>
        <script>
            $(function(){
                $('#myCarousel').carousel()
            })
        </script>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
        {% block header %}
        <div class="row-fluid">
           <div class='header'>
               <div class="span4" style='margin-top: 10px;'>
                   &nbsp;&nbsp;<img src="{{ asset('bundles/webloja/images/header_logo.jpg') }}" />
                   &nbsp;&nbsp;<img style='width: 65px; height: 65px; ' src="{{ asset('bundles/webloja/images/webLoja.png') }}" /> 
               </div>
               <div class="span5"></div>
               <div class="span3" style="margin-top: 10px;">                         
               {% if not app.session.get('id_user') %}
                    <div></div>
               {% else %}
                    <div class='alert alert-error'>
                        {{app.session.get('boasVindas')}}
                        <div class='text-right'>
                            <a href="logout" class="btn btn-danger btn-mini"><i class='icon-remove icon-white'></i>&nbsp;Sair</a>
                        </div>    
                    </div>
               {% endif %}                    
               </div>
           </div>
        </div>
        {% endblock %}
                <header>
                {% block menuNav %}
                    {% include '::menuNav.html.twig'%}        
                {% endblock %}
                </header>
                <div id="content">
                   <div class="container-fluid">
                       <div class="row-fluid" >
                           <div class="span12">
                            <br />
                            {% block body %}{% endblock %}
                           </div>
                       </div>
                    </div>
                 </div><!-- #content-->
        </div>
    {% block footer %}{% endblock %}    
    </body>
</html>

