{% extends 'webloja.html.twig' %}

{% block title %} Salvar Menu Interno - WebLoja! {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function(){

            $('#btnCancelar').click(function(){

               document.location = '{{ path('webloja_menu_interno', {'id_interno': app.session.get('id_interno')}) }}';

            });
            
            var regras = [
                ['#frmMenuInterno_titulo, #frmMenuDepartamento_menu, #frmMenuInterno_link, #frmMenuInterno_pai, #frmMenuInterno_permissao', 'presence', 'Este campo é obrigatório!'],
                ['#frmMenuInterno_titulo, #frmMenuInterno_link', 'min-length:4', 'Este campo deve possuir 4 caracteres no mínimo!'],
                ['#frmMenuInterno_titulo, #frmMenuInterno_link', 'max-length:45', 'Este campo deve possuir 45 caracteres no máximo!'],
                ['#frmMenuInterno_rota', 'max-length:50', 'Este campo deve possuir 4 caracteres no máximo!'],
                ['#frmMenuInterno_ordem', 'integer', 'Este campo deve ser um número!'],
                ['#frmMenuInterno_ordem', 'min-num:0', 'O valor mínimo para este campo é 0!']
            ];
              
            var options = {
                'submitBtnSelector' : '#btnCriarMenuInterno'
            };
            
            $( "#frmMenuInterno" ).nod(regras, options);
        });
    </script>
{% endblock %}

{% block body %} 
<div class="row-fluid"> 
    <div class="span2"></div>
    <div class='span8'>
        <div class="well well-small">
            {% if form_errors(form) | length > 0 %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    
                    {{ form_errors(form) }}
                </div>
            {% endif %}
                
            <form class="form-horizontal" action="{{ id_menu is not empty ? path('webloja_menu_interno_salvar', {'id': id_menu}) : path('webloja_menu_interno_salvar') }}" method="post" {{ form_enctype(form) }} id="frmMenuInterno">       
                <div class="control-group">
                    <div class="controls text-center">
                        <label class="control-label span4"><strong>{{ id_menu is not empty ? 'Editar' : 'Cadastrar' }} Menu Interno</strong></label>
                    </div>
                </div>
                <hr />
                
                <div class="control-group">
                    {{ form_label(form.titulo, 'Título:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.titulo, {'attr': {'class': 'span7'}}) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.menu, 'Menu:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.menu, {'attr': {'class': 'input-xlarge'}}) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.link, 'Link:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.link, {'attr': {'class': 'input-large'}}) }}
                    </div>
                </div>
                
               <div class="control-group">
                    {{ form_label(form.rota, 'Rota:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.rota, {'attr': {'class': 'input-large'}}) }}
                    </div>
               </div>
               
               <div class="control-group">
                    {{ form_label(form.pai, 'Menu Pai:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.pai, {'attr': {'class': 'input-xlarge'}}) }}
                    </div>
               </div> 
                
               <div class="control-group">
                    {{ form_label(form.permissao, 'Permissão:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.permissao, {'attr': {'class': 'input-mini'}}) }}
                    </div>
               </div>
                
               <div class="control-group">
                    {{ form_label(form.ordem, 'Ordem:', {'label_attr': {'class': 'control-label'}}) }}

                    <div class="controls">
                          {{ form_widget(form.ordem, {'attr': {'class': 'input-mini'}}) }}
                    </div>
               </div> 
                
               <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                          {% if id_menu is not empty %}
                            {{ form_widget(form.ativo) }} Ativo
                          {% else %}
                            {{ form_widget(form.ativo, {'attr': {'checked': 'checked'}}) }} Ativo
                          {% endif %}
                      </label>
                    </div>
               </div>
                
               <div class="control-group">
                    <div class="controls">
                          {{ form_rest(form) }}

                         <button type="submit" class="btn btn-small btn-danger" id='btnCriarMenuInterno'>Cadastrar</button>
                         <input id="btnCancelar" type="button"  class="btn btn-small btn-default" value="Cancelar" />
                    </div>
               </div>
            </div>
            </form>
        </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
        
    </div>
    
    <div class='span2'></div>
</div>

{% endblock %}