{% extends '::webloja.html.twig' %}

{% block title %} Consultar Menu - WebLoja! {% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/webloja/js/menu_principal.js') }}"></script>
    <script type="text/javascript">
         
        function excluir(url)
        {
            if(!confirm('Deseja realmente excluir o registro selecionado ?'))
                return false;

            document.location = url;
        }
    </script>

{% endblock %}

{% block body %} 
<div class="row-fluid"> 
    <div class="span3"></div>
    <div class='span6'>
             <header class="jumbotron subhead" id="overview">
        
                {# Exibe a messagem de salvo com sucesso #}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %} 
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                        {{ flashMessage }}
                    </div>
                {% endfor %}

            </header>
                
            <p style="text-align: right">
                <a href="{{ path('webloja_menu_principal_salvar') }}" class="btn btn-danger btn-mini"><i class="icon-plus icon-white"></i>Adicionar</a>
            </p>
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th width="70%" align="center">Departamento</th>
                        <th width="10%" align="center">Ordem</th>
                        <th width="10%" align="center">Status</th>
                        <th width="10%">Ação</th>
                    </tr>
                </thead>
                <tbody>
                {% for menu in menus %}
                         
                    {% if menu.ativo == 1 %}
                        {% set status = '<span style="color: green">Ativo</span>' %}
                    {% else %}
                        {% set status = '<span style="color: red">Inativo</span>' %}
                    {% endif %}    
                        
                    <tr>
                        <td>{{ menu.departamento }}</td>
                        <td>{{ menu.ordem }}</td>
                          <td>{{ status | raw }}</td>
                        <td>
                            <a href="{{ path('webloja_menu_principal_salvar', {'id': menu.id}) }}" title="Editar registro"><i class="icon-pencil"></i></a>
                            <a class="remover" href="javascript: void(0);" onclick="excluir('{{ path('webloja_menu_excluir', {'id': menu.id}) }}');" title="Remover registro"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                {% else %}

                    <tr>
                        <td colspan="7">Não há menus cadastrados</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            {{ include ('pager.html.twig') }}
    </div>
    
    <div class='span3'></div>
</div>

{% endblock %}