{% extends "::webloja.html.twig" %} {% block stylesheets %} {{ parent()
}} {% endblock %} {% block javascripts %} {{ parent() }}
<script type="text/javascript"
	src="{{ asset('bundles/dol/js/abastecimentoDiarioCarregado.js') }}"></script>
<script>
$(function(){

	$("#voltar").click(function(){
		var id_interno = $(this).attr('id_interno');
		var URLretorno = "{{ path('TrackAbastecimentoRelatorioDiario',{'id_interno': id_interno }) }}";
		$(window.document.location).attr('href',URLretorno);
	});

	$("#excel").click(function(){

		var URLretorno = "{{ path('ExcelCarregados',{'id_interno': id_interno,'data': data }) }}";
		$(window.document.location).attr('href',URLretorno);
		
	});
	
});
	
</script>
{% endblock %} {% block body %}
<body>
	<div id="dialog" title="Erro"></div>
	<div class='row-fluid'>
		<label class='text-center'><strong>Data:</strong> {{data}}</label>
		<p class='text-right'>
			<button class='btn btn-danger btn-mini' id='voltar'
				id_interno='{{id_interno}}'>
				<i class='icon-arrow-left icon-white'></i>&nbsp;<strong>voltar</strong>
			</button>
			<button class='btn btn-danger btn-mini' id='excel'>
				<i class='icon-file icon-white'></i>&nbsp;<strong>Excel</strong>
			</button>
		</p>
	</div>
	<div class='row-fluid'>
		<table class='table-condensed table-bordered'>
			<thead>
				<tr>
					<th>Loja</th>
					<th>Placa</th>
					<th>Transportadora</th>
					<th>Guarita</th>
					<th>Chegada</th>
					<th>Sa&iacute;da</th>
					<th>Documento</th>
					<th>Finaliza&ccedil&atilde;o</th>
				</tr>
			</thead>
			<tbody>
				{% for carregados in objTrackCarregados %}
				<tr>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
					<td>{{carregados.placa}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ include ('pager.html.twig') }}
	</div>
</body>
{% endblock %}
