{% extends "::webloja.html.twig" %} {% block stylesheets %} {{
parent()}} {% endblock %} {% block javascripts %} {{ parent() }}
<script type="text/javascript"
	src="{{ asset('bundles/dol/js/relatorioAbastecimentoNCarregados.js') }}"></script>
<script>
$(function(){

	$("#voltar").click(function(){
		var id_interno = $(this).attr('id_interno');
		var URLretorno = "{{ path('TrackAbastecimentoRelatorioDiario',{'id_interno': id_interno }) }}";
		$(window.document.location).attr('href',URLretorno);
	});

	$("#excel").click(function(){

		var URLretorno = "{{ path('ExcelNaoCarregados',{'id_interno': id_interno,'data': data }) }}";
		$(window.document.location).attr('href',URLretorno);
		
	});
		
});
</script>
{% endblock %} {% block body %}
<body>
	<div id="dialog" title="Erro"></div>
	<div class='row-fluid'>
		<label class='text-center'><strong>Data:</strong> {{data}}</label>
		<p class='text-right'>
			<button class='btn btn-danger btn-mini' id='voltar' id_interno='{{id_interno}}'>
				<i class='icon-arrow-left icon-white'></i>&nbsp;<strong>Voltar</strong>
			</button>
			<button class='btn btn-danger btn-mini' id='excel'>
				<i class='icon-file icon-white'></i>&nbsp;<strong>Excel</strong>
			</button>
		</p>
	</div>
	<div class='row-fluid'>
		<table class='table-condensed table-bordered' id='tableNcarregados'>
			<thead>
				<tr>
					<th>Placa</th>
					<th>Transportadora</th>
					<th>CD</th>
					<th>Loja</th>
					<th>Guia Remessa</th>
					<th>Data</th>
					<th>Motivo</th>
				</tr>
			</thead>
			<tbody>
				{% for nCarregados in objTrackNCarregados %} {% for dados in arr %}
				<tr>
					<td>{{nCarregados.placa}}</td>
					<td>{{nCarregados.transportadora}}</td>
					<td>{{nCarregados.cd}}</td>
					<td>{{dados.loja}}</td>
					<td>{{dados.guia}}</td>
					<td>{{dados.data}}</td>
					<td>{{nCarregados.motivo}}</td>
				</tr>
				{% endfor %} {% endfor %}
			</tbody>
		</table>
		{{ include ('pager.html.twig') }}
	</div>
</body>
{% endblock %}
